<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "style" %>
	<title>GDUT 学生头像查找</title>
</head>
<body>
<div class="container">
    <%= yield :container %>
</div>
<%= javascript_include_tag "jquery-1.11.2.min" %>
<%= javascript_include_tag "main" %>
</body>
</html>
